
// fonts style
$ft-OpenSans: 'Open Sans', sans-serif;

// background url
$bgURL: "./../img/";

// background
$bg-1: rgb(39, 39, 39);

// shadow
$sd-1: #d6b389;

// color
$white: #fff;
$cl-1: #d6b389;
$cl-2: #333;
$gray: #C6C6C6;
$cl-3:#f9f9f9;

// color primary
$cl-primary: rgb(247, 202, 38);
$cl-primary-2: rgb(45, 29, 19);

// border
$bd-1: #ddd;

// font
$ft-titles: 'Montserrat', sans-serif;
$ft-titles-2: 'Pacifico', cursive;