.advertisement{
    position: sticky;
    top: 25px;

    .ba-qc{
        
        img{
            @include img-res;
        }
    }
}

// responsive
@include res(1199px){
    .advertisement{
        @include container-fb;

        .ba-qc{
            @include col-33;

            img{
                width: 100%;
                min-height: 250px;
                max-height: 250px;
            }
        }
    }
}

@include res(768px){
    .advertisement{
        @include container-fb;

        .ba-qc{
            @include col-33;

            img{
                width: 100%;
                min-height: 200px;
                max-height: 200px;
            }
        }
    }
}

@include res(600px){
    .advertisement{
        .ba-qc{
            @include col-100;
            margin-bottom: 15px;

            img{
                width: 100%;
                min-height: 300px;
                max-height: 300px;
            }
        }
    }
}